/*============	Media Between Start ============ */

@media (max-width: 1366px) {
.kode_donate_des {
	padding: 27px 60px 33px;
}
.kode_cause_des {
	padding: 84px 100px;
}
.kode_cause_wrap {
	background-size: cover;
}
}

@media (max-width: 1500px) {
.owl-home .abbu-contnt{
	bottom: 80px;
}
.owl-home .item{
	height:500px;	
}
}


